{% extends '_layouts/_ad.twig' %}

{% set width  	= 300 %}
{% set height 	= 250 %}
{% set class 	= 'big-box' %}

{% block content %}
	<div class="text">
		<div><h1>You've got talent in art, media, and design.</h1></div>
		<div><h1>Use it to change the world.</h1></div>
		<div><h1>Create. Change. At Emily Carr</h1></div>
	</div>

	<div class="logo-cta">
		<img src="assets/ecu-logo.svg" alt="emily carr logo"/>
		<img src="assets/button-curves.svg" alt="learn more button"/>
	</div>

	<div class="bg-image">
		<img src="assets/photo-circle.png" alt="person carving first nation engraving"/>
	</div>
{% endblock %}