{% extends '_layouts/_ad.twig' %}

{% set width  	= 320 %}
{% set height 	= 50 %}
{% set class 	= 'mobile-leaderboard' %}

{% block content %}
	<div class="text">
		<div><h1 class="small">You've got talent in art, <br>media, and design.</h1></div>
		<div><h1 class="small">Use it to change <br>the world.</h1></div>
		<div><h1 class="small">Create. Change. <br>At Emily Carr</h1></div>
	</div>

	<div class="logo-cta">
		<img src="assets/ecu-logo.svg" alt="emily carr logo"/>
		<img src="assets/button-curves.svg" alt="learn more button"/>
	</div>

	<div class="bg-image">
		<img src="assets/photo-circle.png" alt="person carving first nation engraving"/>
	</div>
{% endblock %}